.topicoItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 0 3px #10381d;
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin: 0.3rem;
    background-color: rgb(255, 255, 255);
}