.topicoItem {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 3px #10381d;
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin: 0.3rem;
    width: 100%;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
}

.topicoItem:hover {
    background-color: #e6ffee;
}

@media (min-width: 720px) {
    .topicoItem {
        flex-basis: calc(50% - 0.6rem);
    }
}