.topicoItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 0 3px var(--grey-900);
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin: 0.3rem;
    background-color: rgba(255, 255, 255, 0.9);
}